# This playbook contains docker actions that will be run on "remote" host.

- name: Destroying build environment and Removing dangling images...
  shell: cd {{ REPO_LOCAL_PATH }} && make docker-clean
  register: cmdln
  failed_when: "cmdln.rc == 2"
  tags:
    - prod

- name: Logging in to Docker registry...
  shell: cd {{ REPO_LOCAL_PATH }} && make docker-login
  register: cmdln
  failed_when: "cmdln.rc == 2"
  tags:
    - prod

- name: Pulling release images from Docker registry and starting services...
  shell: cd {{ REPO_LOCAL_PATH }} && make docker-run-prod
  register: cmdln
  failed_when: "cmdln.rc == 2"
  tags:
    - prod