---
# This playbook contains all actions that will be run on "local" host.

# - debug:
#   msg: "docker info {{ GITHUB_USER }}"
# - name: Check docker
#   command: echo $(docker info)

# sudo apt-get update
- name: Update apt packages
  apt:
    update_cache: yes
  tags:
    - system

- name: Import dependencies installation tasks
  include_tasks: 1_install_dependencies.yml
  tags:
    - instance-setup

- name: Import Docker installation tasks
  include_tasks: 2_install_docker.yml
  tags:
    - instance-setup

- name: Import tasks for cleaning up potential existing containers, images and folder
  include_tasks: 3_docker_cleanup.yml
  tags:
    - docker-cleanup

- name: Import Github repo download tasks
  include_tasks: 4_clone_repo.yml
  tags:
    - clone-repo

- name: Import Docker deployment tasks to build images
  include_tasks: 5_build_images.yml
  tags:
    - build-images

- name: Import Docker deployment tasks to start services
  include_tasks: 6_start_services
  tags:
    - start-services

- name: Import tasks to test web app is running
  include_tasks: 7_acceptance_tests.yml
  tags:
    - acceptance-tests

- name: Import tasks to tag images
  include_tasks: 8_tag_images.yml
  tags:
    - tag-images

- name: Import tasks to publish images to registry
  include_tasks: 9_publish_images.yml
  tags:
    - publish-images

- name: Import Docker deployment tasks to deploy prod environment
  include_tasks: 10_prod_deployment.yml
  tags:
    - prod

# sudo apt-get autoclean
- name: Remove useless apt packages from the cache
  apt:
    autoclean: yes
  tags:
    - system
 
# sudo apt-get autoremove
- name: Remove dependencies that are no longer required
  apt:
    autoremove: yes
  tags:
    - system